.official-store{
    margin-left: 4rem;
    margin-right: 6rem;
    margin-top: 2rem;
    .store{
        background-color: orange;
        p{
            text-align: center;
            font-size: 1.40rem;
            padding: .6rem;
            font-weight: bold;
        }
    }
    .starlinks{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(6,1fr);
        padding: 1.20rem;
        a{
            
            .img{
               width: 100%;
            }
        }
    }
}