.official-store{
    margin-left: 4rem;
    margin-right: 6rem;
    margin-top: 2rem;
    @media(max-width:768px){
        width: 100%;
        margin-left: 0rem;
        padding-right: 0rem;
    }
    .store{
        background-color: orange;
        @media(max-width:768px){
            width: 100%;
        }
        p{
            text-align: center;
            font-size: 1.40rem;
            padding: .6rem;
            font-weight: bold;
            @media(max-width:768px){
                padding: .3rem;
                font-size: .90rem;
            }
        }
    }
    .starlinks{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(6,1fr);
        padding: 1.20rem;
        @media(max-width:768px){
            display: grid;
            grid-template-columns: repeat(3,1fr);
            width: 100%;
            padding: 0;
            padding-top: 1rem;
        }
        a{
            
            .img{
               width: 100%;
            }
        }
    }
}