.top-deals{
    @media(max-width:768px){
        width: 100%;
        padding-right: 2rem;
    }
    .bread-crump{
        display: flex;
        gap: 3rem;
        color: white;
        background-color: $primary-color;
        padding: 1rem;
        margin-left: 5rem;
        margin-right: 6rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 2rem;
        font-size: 2rem;
        @media(max-width:768px){
            width: 100%;
            margin-left: 1rem;
        }
        a{
            text-decoration: none;
            color: white;
            font-size: 1rem;
        }
    }
    .items{
        @media(max-width:768px){
            width: 100%;
        }
        .phones{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1rem;
            margin-left: 5rem;
            margin-right: 6rem;
            margin-top: 1rem;
            @media(max-width:768px){
                width: 100%;
                margin-left: 1rem;
                grid-template-columns: repeat(1,1fr);
            }
            .image-cards{
                display: flex;
                gap: 1rem;
                align-items: center;
                text-decoration: none;
                color: black;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                @media(max-width:768px){
                    width: 100%;
                }
                .ac{
                    width: 35%;
                    @media(max-width:768px){
                        width: 40%;
                    }
                    
                }
                .samsung{
                    .spoon{
                        display: flex;
                        gap: 1rem;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        .pink{
                            border-radius: 10px;
                            background-color: #FFD8D8;
                            color: rgb(255,59,59);
                        }
                        .line{
                            text-decoration: line-through;
                        }
                    }
                    .grab{
                        color: $green;
                    }
                    span{
                        text-decoration: line-through;
                    }
                }
            }
        }
        .sponserd{
            margin-left: 4rem;
            margin-right: 6rem;
            margin-top: 2rem;
            padding-bottom: 2rem;
            @media(max-width:768px){
                margin-left: 1rem;
                width: 100%;
            }
            p{
                font-size: 1.50rem;
                font-weight: bold;
                margin-left: 1rem;
                margin-bottom: 1rem;

            }
        }
    }
}