@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}
.header {
  position: fixed;
}
@media (max-width: 768px) {
  .header {
    display: none;
  }
}
.header .top-header {
  padding: 0.6rem;
  display: flex;
  padding-right: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
.header .top-header a {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .top-header a .imy {
  width: 60%;
}
.header .nav-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #ED017F;
  padding: 0.8rem;
  padding-left: 3rem;
}
.header .nav-bar a {
  text-decoration: none;
  color: white;
}
.header .nav-bar .image {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 26%;
}
.header .nav-bar .image .logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-bar .image .logo .konga {
  width: 90%;
}
.header .nav-bar .image1 {
  display: flex;
}
.header .nav-bar .image1 input {
  width: 35vw;
  padding: 0.5rem;
  font-size: 1rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
}
.header .nav-bar .image1 i {
  border: 1px solid orange;
  padding: 0.7rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: orange;
  color: white;
  cursor: pointer;
}
.header .nav-bar .image2 {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header .nav-bar .image2 .mark {
  display: flex;
  gap: 0.2rem;
  cursor: pointer;
  color: white;
}
.header .nav-bar .image2 .cart {
  background-color: #33B27B;
  color: white;
  padding: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
}
.header .nav-bar .image2 .cart span {
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 0.2rem;
}
.header .nav-bar3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #94004F;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header .nav-bar3 a {
  text-decoration: none;
  color: white;
}
.header .nav-bar3 .all {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.hero .hero-section {
  padding-top: 12rem;
  display: flex;
  gap: 2rem;
  padding-left: 7rem;
}
@media (max-width: 768px) {
  .hero .hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    gap: 1rem;
    padding-right: 1rem;
    padding-top: 8rem;
  }
}
.hero .hero-section .big-image {
  width: 60%;
  height: 60vh;
}
@media (max-width: 768px) {
  .hero .hero-section .big-image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 35vh;
  }
}
.hero .hero-section .big-image .apple {
  width: 100%;
  height: 98%;
  border-radius: 5px;
}
.hero .hero-section .big-image2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 27.7%;
}
@media (max-width: 768px) {
  .hero .hero-section .big-image2 {
    width: 100%;
  }
}
.hero .hero-section .big-image2 .one {
  width: 100%;
  border-radius: 10px;
}
.hero .ankimys {
  padding-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 84%;
  margin-left: 7rem;
}
@media (max-width: 768px) {
  .hero .ankimys {
    display: none;
  }
}
.hero .ankimys .bil {
  width: 20%;
  padding: 0.6rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hero .ankimys .bil .bills {
  width: 87%;
}

@media (max-width: 768px) {
  .top-deals {
    width: 100%;
    padding-right: 2rem;
  }
}
.top-deals .bread-crump {
  display: flex;
  gap: 3rem;
  color: white;
  background-color: #94004F;
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 6rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 2rem;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .top-deals .bread-crump {
    width: 100%;
    margin-left: 1rem;
    font-size: 1rem;
    padding: 0.7rem;
  }
}
.top-deals .bread-crump a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .top-deals .bread-crump a {
    font-size: 0.5rem;
  }
}
@media (max-width: 768px) {
  .top-deals .items {
    width: 100%;
  }
}
.top-deals .items .phones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-left: 5rem;
  margin-right: 6rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .top-deals .items .phones {
    width: 100%;
    margin-left: 1rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
}
.top-deals .items .phones .image-cards {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (max-width: 768px) {
  .top-deals .items .phones .image-cards p {
    font-size: smaller;
  }
}
@media (max-width: 768px) {
  .top-deals .items .phones .image-cards {
    width: 100%;
  }
}
.top-deals .items .phones .image-cards .ac {
  width: 35%;
}
@media (max-width: 768px) {
  .top-deals .items .phones .image-cards .ac {
    width: 25%;
    padding: 0.6rem;
  }
}
.top-deals .items .phones .image-cards .samsung .spoon {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .top-deals .items .phones .image-cards .samsung .spoon {
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
    display: flex;
    gap: 0.6rem;
  }
}
.top-deals .items .phones .image-cards .samsung .spoon .pink {
  border-radius: 10px;
  background-color: #FFD8D8;
  color: rgb(255, 59, 59);
}
.top-deals .items .phones .image-cards .samsung .spoon .line {
  text-decoration: line-through;
}
.top-deals .items .phones .image-cards .samsung .grab {
  color: #33B27B;
}
.top-deals .items .phones .image-cards .samsung span {
  text-decoration: line-through;
}
.top-deals .items .sponserd {
  margin-left: 4rem;
  margin-right: 6rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 768px) {
  .top-deals .items .sponserd {
    margin-left: 1rem;
    width: 100%;
  }
}
.top-deals .items .sponserd p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .top-deals .items .sponserd p {
    font-size: 1rem;
  }
}

.sponserd-products {
  margin-left: 4rem;
  margin-right: 6rem;
}
@media (max-width: 768px) {
  .sponserd-products {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 2rem;
  }
}
.sponserd-products .images {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  padding-bottom: 2rem;
  overflow-x: scroll;
  width: 100vw;
}
@media (max-width: 768px) {
  .sponserd-products .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
.sponserd-products .images span {
  text-decoration: line-through;
}
.sponserd-products .images p {
  font-weight: bold;
  font-size: 1.1rem;
}
.sponserd-products .images a {
  text-decoration: none;
  color: black;
}
.sponserd-products .images .perfect {
  width: 17%;
  padding-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 768px) {
  .sponserd-products .images .perfect {
    width: 100%;
  }
}
.sponserd-products .images .perfect p {
  margin-left: 1rem;
}
.sponserd-products .images .perfect span {
  text-decoration: line-through;
}
.sponserd-products .images .perfect .konga {
  width: 50%;
  background-color: rgba(237, 1, 127, 0.1960784314);
  border-radius: 5px;
  padding: 0.3rem;
}
.sponserd-products .images .perfect .vaselin {
  width: 60%;
  margin-left: 1rem;
}
.sponserd-products .images .perfect .nambas {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.sponserd-products .images .perfect .nambas .pink {
  border-radius: 10px;
  background-color: #FFD8D8;
  color: rgb(255, 59, 59);
}
.sponserd-products .images .perfect .nambas .line {
  text-decoration: line-through;
}
.sponserd-products .images .perfect .grab {
  color: #33B27B;
}
.sponserd-products .images .perfect2 {
  width: 17%;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 768px) {
  .sponserd-products .images .perfect2 {
    width: 100%;
  }
}
.sponserd-products .images .perfect2 .konga {
  width: 50%;
  background-color: rgba(237, 1, 127, 0.1960784314);
  border-radius: 5px;
  padding: 0.3rem;
}
.sponserd-products .images .perfect2 .vaselin1 {
  width: 70%;
  margin-left: 1rem;
}
.sponserd-products .images .perfect2 .chucky {
  margin-bottom: 1rem;
}
.sponserd-products .images .perfect3 {
  width: 15%;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 768px) {
  .sponserd-products .images .perfect3 {
    width: 100%;
  }
}
.sponserd-products .images .perfect3 .konga {
  width: 50%;
  background-color: rgba(237, 1, 127, 0.1960784314);
  border-radius: 5px;
  padding: 0.3rem;
}
.sponserd-products .images .perfect3 .vaselin2 {
  margin-left: 1rem;
  width: 70%;
}
@media (max-width: 768px) {
  .sponserd-products .images {
    display: none;
  }
}
.sponserd-products .same {
  display: flex;
  justify-content: space-between;
  background-color: #FFE9E9;
  color: black;
  margin: 0 auto;
  padding: 0.4rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .sponserd-products .same {
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .sponserd-products .same .none {
    display: none;
  }
}
.sponserd-products .same .ank {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.sponserd-products .same .ank p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .sponserd-products .same .ank p {
    font-size: 0.7rem;
  }
}
.sponserd-products .same a {
  text-decoration: none;
  color: black;
}
@media (max-width: 768px) {
  .sponserd-products .same a {
    font-size: 0.5rem;
  }
}
.sponserd-products .same .s {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  cursor: pointer;
  color: #ED017F;
  background-color: #FFDFD4;
  padding: 0.8rem;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 3rem;
}
@media (max-width: 768px) {
  .sponserd-products .same .s {
    padding: 0.3rem;
    margin-right: 0rem;
  }
}
.sponserd-products .same .s i {
  font-weight: bold;
  font-size: 1.3rem;
}
.sponserd-products .images2 {
  display: flex;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 2rem;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .sponserd-products .images2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    margin-top: 0rem;
    gap: 0;
    width: 100%;
  }
}
.sponserd-products .images2 img {
  width: 100%;
}
@media (max-width: 768px) {
  .sponserd-products .images2 img {
    width: 80%;
  }
}
.sponserd-products .images2 .biger {
  width: 45%;
}
@media (max-width: 768px) {
  .sponserd-products .images2 .biger {
    width: 90%;
  }
}
.sponserd-products .images2 .biger .big {
  width: 100%;
}

.header2 {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  display: none;
}
@media (max-width: 768px) {
  .header2 {
    display: block;
    padding-right: 2rem;
  }
}
.header2 .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
@media (max-width: 768px) {
  .header2 .main {
    padding-top: 1rem;
  }
}
.header2 .main .menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header2 .main .menu img {
  width: 100px;
}
.header2 .main .menu .bx {
  font-size: 1.7rem;
}
.header2 .main .menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header2 .image1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 768px) {
  .header2 .image1 {
    padding: 0.5rem;
  }
}
.header2 .image1 input {
  width: 90%;
  padding: 0.7rem;
  font-size: 1.5rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  background-color: rgba(128, 128, 128, 0.138);
}
.header2 .image1 i {
  border: 1px solid orange;
  padding: 1rem 0.7rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: orange;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.official-store {
  margin-left: 4rem;
  margin-right: 6rem;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .official-store {
    width: 100%;
    margin-left: 1rem;
    padding-right: 2rem;
  }
}
.official-store .store {
  background-color: orange;
}
.official-store .store p {
  text-align: center;
  font-size: 1.4rem;
  padding: 0.6rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .official-store .store p {
    padding: 0.3rem;
    font-size: 0.9rem;
  }
}
.official-store .starlinks {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  padding: 1.2rem;
}
@media (max-width: 768px) {
  .official-store .starlinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }
}
.official-store .starlinks a .img {
  width: 100%;
}

.form {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  width: 100%;
  position: fixed;
  top: 15%;
  background-color: white;
  display: none;
}
.form .btn {
  display: flex;
  gap: 1rem;
}
.form .btn button {
  border: 2px solid #ED017F;
  color: #ED017F;
  padding: 0.4rem 5rem;
  background-color: transparent;
  border-radius: 10px;
}
.form .orders {
  margin-top: 1rem;
}
.form .orders .shadow {
  display: flex;
}
.form .orders .shadow a {
  display: flex;
  width: 30%;
  padding: 0.6rem;
  text-decoration: none;
  align-items: center;
  gap: 0.5rem;
  color: black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.form .categories p {
  font-weight: bold;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 0.6rem;
}
.form .categories .arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.form .categories .arrow a {
  text-decoration: none;
  color: black;
}
.form .categories .arrow2 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding-top: 1rem;
  margin-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
}
.form .categories .arrow2 a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  color: black;
  padding-left: 0.3rem;
}/*# sourceMappingURL=style.css.map */